<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Battleships Example</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@basementuniverse/asobi-client@1.8.0/build/client.js"></script>
<style>

.game {
  margin: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
}

</style>
<script>

const JSONPAD_CLIENT_TOKEN = '<YOUR JSONPAD CLIENT TOKEN>';
const JSONPAD_GAMES_LIST = '<YOUR JSONPAD GAMES LIST PATH NAME>';
const ASOBI_SERVER_URL = '<YOUR ASOBI SERVER URL>';

const { createApp } = Vue;

const app = createApp({
  data() {
    return {
      asobi: new AsobiClient({
        jsonpadClientToken: JSONPAD_CLIENT_TOKEN,
        jsonpadGamesList: JSONPAD_GAMES_LIST,
        asobiServerUrl: ASOBI_SERVER_URL,
      }),
      games: [],
    };
  },

  async created() {
    this.loadGames();

    this.asobi.addEventListener('game-created', e => {
      this.games.unshift(e.detail);
    });

    this.asobi.addEventListener('player-joined', e => {
      const found = this.games.findIndex(g => g.id === e.detail.id);
      if (found !== -1) {
        this.games[found] = e.detail;
      } else {
        this.games.unshift(e.detail);
      }
    });

    this.asobi.addEventListener('player-moved', e => {
      const found = this.games.findIndex(g => g.id === e.detail.id);
      if (found !== -1) {
        this.games[found] = e.detail;
      } else {
        this.games.unshift(e.detail);
      }
    });

    this.asobi.addEventListener('game-finished', e => {
      const found = this.games.findIndex(g => g.id === e.detail.id);
      if (found !== -1) {
        this.games[found] = e.detail;
      } else {
        this.games.unshift(e.detail);
      }
    });
  },

  methods: {
    async loadGames() {
      try {
        const response = await this.asobi.fetchGames(
          {
            page: 1,
            limit: 10,
            order: 'started',
            direction: 'desc',
          }
        );
        this.games = response.games;
      } catch (error) {
        console.error('Error loading games:', error);
      }
    },

    async createGame(n) {
      window
        .open(`create.html?n=${n}`, '_blank')
        .focus();
    },

    async joinGame(id) {
      window
        .open(`join.html?id=${id}`, '_blank')
        .focus();
    },
  },
});

window.addEventListener('DOMContentLoaded', () => {
  app.mount('#app');
});

</script>
</head>
<body>
  <div id="app">
    <h1>Battleships - Lobby</h1>
    <button @click="createGame(2)" >Start new 2P game</button>
    <button @click="createGame(3)" >Start new 3P game</button>
    <button @click="createGame(4)" >Start new 4P game</button>

    <!-- Games List -->
    <div v-for="game in games" :key="game.id" class="game">
      <h3>{{ game.id }}</h3>
      <p>{{ game.status }} - {{ game.startedAt }}</p>
      <button v-if="game.status === 'waiting_to_start'" @click="joinGame(game.id)">
        Join this game
      </button>
    </div>
  </div>
</body>
</html>
